@model Web.MVC.Models.ApiResponses.CustUserResponses.UserResponse

<div class="text-center">
    <div>
        <p>Имя пользователя: @Model.UserName</p>
        <p>Зарегистрирован: @Model.RegisteredAt</p>
        <p>Создано обсуждений: @Model.Posts</p>
        <p>Ответов: @Model.Answers</p>
        @if (User.Identity.Name == Model.UserName)
        {
            if (Model.IsBanned)
            {
                <p>Забанен по причине "@Model.BannedFor" до @Model.BannedUntil</p>
                <p>Тип бана: @Model.BanType</p>
            }
        }
    </div>
    <div>
        @if (ViewBag.Discussions is null || ViewBag.Discussions.Count == 0)
        {
            <h3>Обсуждения ещё не созданы</h3>
        }
        else
        {
            foreach (var discussion in ViewBag.Discussions)
            {
                <h3>Созданные обсуждения</h3>
                <h5>@discussion.Title</h5>
                <p>Создано: @discussion.CreatedAt</p>
                <p>Рейтинг: @discussion.Rating</p>
            }
        }
    </div>
    <div>
        @if (ViewBag.Comments is null || ViewBag.Comments.Count == 0)
        {
            <h3>Комментарии ещё не созданы</h3>
        }
        else
        {
            foreach (var comment in ViewBag.Comments)
            {
                <h3>Созданные комментарии</h3>
                <h6>@comment.Content</h6>
                <p>Создано: @comment.CreatedDate</p>
            }
        }
    </div>
    @if (User.Identity.Name == @Model.UserName)
    {
        <div>
            <h3>Предложенные обсуждения</h3>
            @if (ViewBag.SuggestedDiscussions is null || ViewBag.SuggestedDiscussions.Count == 0)
            {
                <p>Предложенных обсуждений нет</p>
            }
            else
            {
                foreach (var suggestedDiscussion in ViewBag.SuggestedDiscussions)
                {
                    <p>@suggestedDiscussion.Title</p>
                    <p>Статус: На рассмотрении</p>
                }
            }
        </div>
        <div>
            <h3>Предложенные комментарии</h3>
            @if (ViewBag.SuggestedComments is null || ViewBag.SuggestedComments.Count == 0)
            {
                <p>Предложенных комментариев нет</p>
            }
            else
            {
                foreach (var suggestedComment in ViewBag.SuggestedComments)
                {
                    <p>@suggestedComment.Content</p>
                    <p>Статус: На рассмотрении</p>
                }
            }
        </div>
    }
</div>