@{
    ViewData["Title"] = "Предложенные обсуждения";
}
@using Web.MVC.Constants
@model Web.MVC.Models.ViewModels.UserViewModels.GetSuggestedDiscussionsViewModel
<link rel="stylesheet" href="~/css/user/dropdown.css" />
<link rel="stylesheet" href="~/css/user/navbar.css" />

<div class="profile-navbar">
    <a asp-controller="User" asp-action="GetUser" asp-route-userName="@ViewBag.UserName">профиль</a>
    <a asp-controller="User" asp-action="GetUsersCreatedDiscussions" asp-route-userName="@ViewBag.UserName"
       asp-route-pageNumber="1" asp-route-pageSize="20">обсуждения</a>
    <a asp-controller="User" asp-action="GetUsersCreatedComments" asp-route-pageNumber="1" asp-route-pageSize="20"
       asp-route-userName="@ViewBag.UserName">комментарии</a>
    @if (User.Identity.Name == ViewBag.UserName || User.IsInRole(UserRoleConstants.AdminRole) || User.IsInRole(UserRoleConstants.ModeratorRole))
    {
        <a asp-controller="Bookmark" asp-action="GetBookmarksByNovelty" asp-route-pageNumber="1" asp-route-pageSize="20"
           asp-route-userName="@ViewBag.UserName">
            закладки
        </a>
    }
    <div class="dropdown">
        @if (User.Identity.Name == ViewBag.UserName)
        {
            <div>
                <button id="dropdownSuggestionsButton" class="open-dropdown-btn active">предложения &#x25BC;</button>
                <div id="dropdownSuggestionsList" class="dropdown-list">
                    <a class="dropdown-content" asp-controller="User" asp-action="GetUsersSuggestedComments" asp-route-pageNumber="1"
                       asp-route-pageSize="20" asp-route-userName="@ViewBag.UserName">комментарии</a>
                    <a class="dropdown-content active" asp-controller="User" asp-action="GetUsersSuggestedDiscussions" asp-route-userName="@ViewBag.UserName"
                       asp-route-pageNumber="1" asp-route-pageSize="20">обсуждения</a>
                    <a class="dropdown-content" asp-controller="User" asp-action="GetUsersSuggestedTopics" asp-route-pageNumber="1"
                       asp-route-pageSize="20" asp-route-userName="@ViewBag.UserName">темы</a>
                </div>
            </div>
        }
    </div>
    <div class="dropdown">
        @if (User.IsInRole(UserRoleConstants.AdminRole) || User.IsInRole(UserRoleConstants.ModeratorRole))
        {
            <div>
                <button id="dropdownAdminButton" class="open-dropdown-btn">админ &#x25BC;</button>
                <div id="dropdownAdminList" class="dropdown-list">
                    <a class="dropdown-content" asp-controller="Moderator" asp-action="GetSuggestedTopicsByUserName" asp-route-pageNumber="1"
                       asp-route-pageSize="20" asp-route-userName="@ViewBag.UserName">предложенные темы</a>
                    <a class="dropdown-content" asp-controller="Moderator" asp-action="GetSuggestedDiscussionsByUserName"
                       asp-route-userName="@ViewBag.UserName" asp-route-pageNumber="1" asp-route-pageSize="20">предложенные обсуждения</a>
                    <a class="dropdown-content" asp-controller="Moderator" asp-action="GetSuggestedCommentsByUserName" asp-route-pageNumber="1"
                       asp-route-pageSize="20" asp-route-userName="@ViewBag.UserName">предложенные комментарии</a>
                    <a class="dropdown-content" asp-controller="Moderator" asp-action="GetReportsByUserName" asp-route-pageNumber="1"
                       asp-route-pageSize="20" asp-route-userName="@ViewBag.UserName">жалобы</a>
                </div>
            </div>
        }
    </div>
</div>

<div>
    <h3>Предложенные обсуждения</h3>
    @if (Model.SuggestedDiscussions is null || Model.SuggestedDiscussions.Count == 0)
    {
        <p>Предложенных обсуждений нет</p>
    }
    else
    {
        foreach (var suggestedDiscussion in Model.SuggestedDiscussions)
        {
            <a asp-controller="SuggestDiscussion" asp-action="GetSuggestedDiscussionById" asp-route-suggestedDiscussionId="@suggestedDiscussion.Id">
                @suggestedDiscussion.Title
            </a>
            <p>Статус: На рассмотрении</p>
        }
    }
</div>

@if (Model.PreviousPageNumber != 0)
{
    <a asp-controller="User" asp-action="GetUsersSuggestedDiscussions" asp-route-pageNumber="@Model.PreviousPageNumber" asp-route-pageSize="@Model.PageSize"
       asp-route-userName="@ViewBag.UserName">
        Назад
    </a>
}
@if (Model.DoesNextPageExist && Model.SuggestedDiscussions.Count != 0)
{
    <a asp-controller="User" asp-action="GetUsersSuggestedDiscussions" asp-route-pageNumber="@Model.NextPageNumber" asp-route-pageSize="@Model.PageSize"
       asp-route-userName="@ViewBag.UserName">
        Вперед
    </a>
}
<script src="~/js/user/dropdownUserAdmin.js"></script>
<script src="~/js/user/dropdownUserSuggestions.js"></script>