@using Web.MVC.Constants
@model Web.MVC.Models.ApiResponses.CustUserResponses.UserResponse

<div class="text-center">
    <div>
        <p>Имя пользователя: @Model.UserName</p>
        <p>Роль: @ViewBag.UserRole</p>
        <p>Зарегистрирован: @Model.RegisteredAt</p>
        <p>Создано обсуждений: @Model.Posts</p>
        <p>Ответов: @Model.Answers</p>
        @if (User.Identity.Name == Model.UserName || User.IsInRole(UserRoleConstants.AdminRole) || User.IsInRole(UserRoleConstants.ModeratorRole))
        {
            if (Model.IsBanned)
            {
                <p>Забанен по причине "@Model.BannedFor" до @Model.BannedUntil</p>
                <p>Тип бана: @Model.BanType</p>
            }
        }
        @if (User.IsInRole(UserRoleConstants.AdminRole) || User.IsInRole(UserRoleConstants.ModeratorRole))
        {
            <a href="~/SuggestedTopics/@Model.UserName">предложенные темы</a><br/>
            <a href="~/Suggestions/Discussions/@Model.UserName">предложенные обсуждения</a><br/>
            <a href="~/Suggestions/Comments/@Model.UserName">предложенные комментарии</a><br/>
            <a href="~/ReportsByUser/@Model.UserName?pageNumber=1&pageSize=20">жалобы</a>
            if (User.Identity.Name != Model.UserName)
            { 
                <br/><br/> <a asp-controller="Moderator" asp-action="BanUser" asp-route-userName="@Model.UserName" asp-route-returnUrl="@Context.Request.Path"
                           >отстранить пользователя</a><br/>
                <a asp-controller="Moderator" asp-action="ChangeUserRoles" asp-route-returnUrl="@Context.Request.Path" asp-route-aspNetUserId="@Model.AspNetUserId">назначить роль</a>
            }

        }
    </div>
    <div class="text-center">
        <br /><br /><a asp-controller="User" asp-action="GetUsersCreatedDiscussions" asp-route-userName="@Model.UserName" asp-route-pageNumber="1"
                       asp-route-pageSize="20">созданные обсуждения</a><br/>
        <a asp-controller="User" asp-action="GetUsersCreatedComments" asp-route-pageNumber="1" asp-route-pageSize="20" asp-route-userName="@Model.UserName"
           >созданные комментарии</a>
    </div>
    @if (User.Identity.Name == @Model.UserName)
    {
        <div>
            <h3>Предложенные обсуждения</h3>
            @if (ViewBag.SuggestedDiscussions is null || ViewBag.SuggestedDiscussions.Count == 0)
            {
                <p>Предложенных обсуждений нет</p>
            }
            else
            {
                foreach (var suggestedDiscussion in ViewBag.SuggestedDiscussions)
                {
                    <a href="~/MySuggestions/@suggestedDiscussion.Id">@suggestedDiscussion.Title</a>
                    <p>Статус: На рассмотрении</p>
                }
            }
        </div>
        <div>
            <h3>Предложенные комментарии</h3>
            @if (ViewBag.SuggestedComments is null || ViewBag.SuggestedComments.Count == 0)
            {
                <p>Предложенных комментариев нет</p>
            }
            else
            {
                foreach (var suggestedComment in ViewBag.SuggestedComments)
                {
                    <a href="~/discussions/@suggestedComment.DiscussionId">@suggestedComment.Content</a>
                    <p>Статус: На рассмотрении</p>
                    <form method="post" asp-controller="SuggestComment" asp-action="DeleteSuggestedComment" asp-route-returnUrl="@Context.Request.Path"
                          asp-route-suggestedCommentId="@suggestedComment.Id">
                        <input type="submit" value="удалить"/>
                    </form>
                }
            }
        </div>
        <div>
            <h3>Предложенные темы</h3>
            @if (ViewBag.SuggestedTopics is null || ViewBag.SuggestedTopics.Count == 0)
            {
                <p>Предложенных тем нет</p>
            }
            else
            {
                foreach (var suggestedTopic in ViewBag.SuggestedTopics)
                {
                    <h6>@suggestedTopic.Name</h6>
                    <p>Статус: На рассмотрении</p>
                    <form method="post" asp-controller="SuggestTopic" asp-action="DeleteSuggestedTopicById"
                          asp-route-returnUrl="@Context.Request.Path"
                          asp-route-id="@suggestedTopic.Id">
                        <input type="submit" value="удалить" />
                    </form>
                }
            }
        </div>
        <div>
            <h3>Настройки пользователя</h3>
            <a asp-action="ChangeUserName" asp-controller="User" asp-route-returnUrl="@string.Empty" asp-route-userId="@Model.Id">изменить имя</a><br/>
            <a asp-controller="User" asp-action="ChangePassword" asp-route-returnUrl="@Context.Request.Path" asp-route-userId="@Model.AspNetUserId">
                изменить пароль
            </a>
        </div>
    }
</div>