@{
    ViewData["Title"] = "Предложенные комментарии";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Web.MVC.Constants
@model Web.MVC.Models.ViewModels.ModeratorViewModels.SuggestedCommentsViewModel
<link rel="stylesheet" href="~/css/user/dropdown.css" />
<link rel="stylesheet" href="~/css/user/navbar.css" />

<div class="profile-navbar">
    <a class="profile-navbar-link" asp-controller="User" asp-action="GetUser" asp-route-userName="@ViewBag.UserName">профиль</a>
    <a class="profile-navbar-link" asp-controller="User" asp-action="GetUsersCreatedDiscussions" asp-route-userName="@ViewBag.UserName"
       asp-route-pageNumber="1" asp-route-pageSize="20">обсуждения</a>
    <a class="profile-navbar-link" asp-controller="User" asp-action="GetUsersCreatedComments" asp-route-pageNumber="1" asp-route-pageSize="20"
       asp-route-userName="@ViewBag.UserName">комментарии</a>
    @if (User.Identity.Name == ViewBag.UserName || User.IsInRole(UserRoleConstants.AdminRole) || User.IsInRole(UserRoleConstants.ModeratorRole))
    {
        <a class="profile-navbar-link" asp-controller="Bookmark" asp-action="GetBookmarksByNovelty" asp-route-pageNumber="1" asp-route-pageSize="20"
           asp-route-userName="@ViewBag.UserName">
            закладки
        </a>
    }
    <div class="dropdown">
        @if (User.Identity.Name == ViewBag.UserName)
        {
            <div>
                <button id="dropdownSuggestionsButton" class="open-dropdown-btn active-navbar-link">предложения &#x25BC;</button>
                <div id="dropdownSuggestionsList" class="dropdown-list">
                    <a class="dropdown-content active-dropdown-content" asp-controller="User" asp-action="GetUsersSuggestedComments" asp-route-pageNumber="1"
                       asp-route-pageSize="20" asp-route-userName="@ViewBag.UserName">комментарии</a>
                    <a class="dropdown-content" asp-controller="User" asp-action="GetUsersSuggestedDiscussions" asp-route-userName="@ViewBag.UserName"
                       asp-route-pageNumber="1" asp-route-pageSize="20">обсуждения</a>
                    <a class="dropdown-content" asp-controller="User" asp-action="GetUsersSuggestedTopics" asp-route-pageNumber="1"
                       asp-route-pageSize="20" asp-route-userName="@ViewBag.UserName">темы</a>
                </div>
            </div>
        }
    </div>
    <div class="dropdown">
        @if (User.IsInRole(UserRoleConstants.AdminRole) || User.IsInRole(UserRoleConstants.ModeratorRole))
        {
            <div>
                <button id="dropdownAdminButton" class="open-dropdown-btn">админ &#x25BC;</button>
                <div id="dropdownAdminList" class="dropdown-list">
                    <a class="dropdown-content" asp-controller="Moderator" asp-action="GetSuggestedTopicsByUserName" asp-route-pageNumber="1"
                       asp-route-pageSize="20" asp-route-userName="@ViewBag.UserName">предложенные темы</a>
                    <a class="dropdown-content" asp-controller="Moderator" asp-action="GetSuggestedDiscussionsByUserName"
                       asp-route-userName="@ViewBag.UserName" asp-route-pageNumber="1" asp-route-pageSize="20">предложенные обсуждения</a>
                    <a class="dropdown-content" asp-controller="Moderator" asp-action="GetSuggestedCommentsByUserName" asp-route-pageNumber="1"
                       asp-route-pageSize="20" asp-route-userName="@ViewBag.UserName">предложенные комментарии</a>
                    <a class="dropdown-content" asp-controller="Moderator" asp-action="GetReportsByUserName" asp-route-pageNumber="1"
                       asp-route-pageSize="20" asp-route-userName="@ViewBag.UserName">жалобы</a>
                </div>
            </div>
        }
    </div>
</div>

<div>
    <h3>Предложенные комментарии</h3>
    @if (Model.SuggestedComments is null || Model.SuggestedComments.Count == 0)
    {
        <p>Предложенных комментариев нет</p>
    }
    else
    {
        string returnUrl;
        if (Context.Request.QueryString.HasValue)
        {
            returnUrl = Context.Request.Path + Context.Request.QueryString;
        }
        else
        {
            returnUrl = Context.Request.Path;
        }
        foreach (var suggestedComment in Model.SuggestedComments)
        {
            <a asp-controller="Discussion" asp-action="GetDiscussion" asp-route-id="@suggestedComment.DiscussionId" asp-route-pageNumber="1"
               asp-route-pageSize="20">@suggestedComment.Content</a>
            <p>Статус: На рассмотрении</p>
            <form method="post" asp-controller="SuggestComment" asp-action="DeleteSuggestedComment" asp-route-returnUrl="@returnUrl"
                  asp-route-suggestedCommentId="@suggestedComment.Id">
                <input type="submit" value="удалить"/>
            </form>
        }
    }
</div>

@if (Model.PreviousPageNumber != 0)
{
    <a asp-controller="User" asp-action="GetUsersSuggestedComments" asp-route-pageNumber="@Model.PreviousPageNumber" asp-route-pageSize="@Model.PageSize"
       asp-route-userName="@ViewBag.UserName">
        Назад
    </a>
}
@if (Model.DoesNextPageExist && Model.SuggestedComments.Count != 0)
{
    <a asp-controller="User" asp-action="GetUsersSuggestedComments" asp-route-pageNumber="@Model.NextPageNumber" asp-route-pageSize="@Model.PageSize"
       asp-route-userName="@ViewBag.UserName">
        Вперед
    </a>
}
<script src="~/js/user/dropdownUserAdmin.js"></script>
<script src="~/js/user/dropdownUserSuggestions.js"></script>