@using System.Web
@using Web.MVC.Constants
@model Web.MVC.Models.ApiResponses.CustUserResponses.UserResponse

<div class="text-center">
    <div>
        <p>Имя пользователя: @Model.UserName</p>
        <p>Зарегистрирован: @Model.RegisteredAt</p>
        <p>Создано обсуждений: @Model.Posts</p>
        <p>Ответов: @Model.Answers</p>
        @if (User.Identity.Name == Model.UserName || User.IsInRole(UserRoleConstants.AdminRole) || User.IsInRole(UserRoleConstants.ModeratorRole))
        {
            if (Model.IsBanned)
            {
                <p>Забанен по причине "@Model.BannedFor" до @Model.BannedUntil</p>
                <p>Тип бана: @Model.BanType</p>
            }
        }
        @if (User.IsInRole(UserRoleConstants.AdminRole) || User.IsInRole(UserRoleConstants.ModeratorRole))
        {
            <a href="~/SuggestedTopics/@Model.UserName">предложенные темы</a><br/>
            <a href="~/Suggestions/Discussions/@Model.UserName">предложенные обсуждения</a><br/>
            <a href="~/Suggestions/Comments/@Model.UserName">предложенные комментарии</a><br/>
            <a href="~/ReportsByUser/@Model.UserName">жалобы</a>
        }
    </div>
    <div>
        @if (ViewBag.Discussions is null || ViewBag.Discussions.Count == 0)
        {
            <h3>Обсуждения ещё не созданы</h3>
        }
        else
        {
            <h3>Созданные обсуждения</h3>
            foreach (var discussion in ViewBag.Discussions)
            {
                <a href="~/discussions/@discussion.Id">@discussion.Title</a>
                <p>Создано: @discussion.CreatedAt</p>
                <p>Рейтинг: @discussion.Rating</p>
            }
        }
    </div>
    <div>
        @if (ViewBag.Comments is null || ViewBag.Comments.Count == 0)
        {
            <h3>Комментарии ещё не созданы</h3>
        }
        else
        {
            <h3>Созданные комментарии</h3>
            foreach (var comment in ViewBag.Comments)
            {
                <a href="~/discussions/@comment.DiscussionId">@comment.Content</a>
                <p>Создано: @comment.CreatedDate</p>
            }
        }
    </div>
    @if (User.Identity.Name == @Model.UserName)
    {
        <div>
            <h3>Предложенные обсуждения</h3>
            @if (ViewBag.SuggestedDiscussions is null || ViewBag.SuggestedDiscussions.Count == 0)
            {
                <p>Предложенных обсуждений нет</p>
            }
            else
            {
                foreach (var suggestedDiscussion in ViewBag.SuggestedDiscussions)
                {
                    <a href="~/MySuggestions/@suggestedDiscussion.Id">@suggestedDiscussion.Title</a>
                    <p>Статус: На рассмотрении</p>
                }
            }
        </div>
        <div>
            <h3>Предложенные комментарии</h3>
            @if (ViewBag.SuggestedComments is null || ViewBag.SuggestedComments.Count == 0)
            {
                <p>Предложенных комментариев нет</p>
            }
            else
            {
                foreach (var suggestedComment in ViewBag.SuggestedComments)
                {
                    <a href="~/discussions/@suggestedComment.DiscussionId">@suggestedComment.Content</a>
                    <p>Статус: На рассмотрении</p>
                    <form method="post" asp-controller="SuggestComment" asp-action="DeleteSuggestedComment" asp-route-returnUrl="@Context.Request.Path"
                          asp-route-suggestedCommentId="@suggestedComment.Id">
                        <input type="submit" value="удалить"/>
                    </form>
                }
            }
        </div>
        <div>
            <h3>Предложенные темы</h3>
            @if (ViewBag.SuggestedTopics is null || ViewBag.SuggestedTopics.Count == 0)
            {
                <p>Предложенных тем нет</p>
            }
            else
            {
                foreach (var suggestedTopic in ViewBag.SuggestedTopics)
                {
                    <h6>@suggestedTopic.Name</h6>
                    <p>Статус: На рассмотрении</p>
                    <form method="post" asp-controller="SuggestTopic" asp-action="DeleteSuggestedTopicById"
                          asp-route-returnUrl="@Context.Request.Path"
                          asp-route-id="@suggestedTopic.Id">
                        <input type="submit" value="удалить" />
                    </form>
                }
            }
        </div>
    }
</div>