@using Web.MVC.Constants
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css"/>
    <link rel="icon" type="image/png" href="~/images/rounded-logo2.png" />
</head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/rounded-logo2.png" alt="" width="35" height="35" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="first-profile-btns">
                @if (User.Identity.IsAuthenticated)
                {
                    string returnUrl;
                    if (Context.Request.QueryString.HasValue)
                    {
                        returnUrl = Context.Request.Path + Context.Request.QueryString;
                    }
                    else
                    {
                        returnUrl = Context.Request.Path;
                    }

                    <div class="dropdown-profile">
                        <button id="dropdownProfileButton" class="open-profile-dropdown-btn">@User.Identity.Name &#x25BC;</button>
                        <div id="dropdownProfileList" class="dropdown-profile-list">
                            <a class="dropdown-refs" asp-controller="User" asp-action="GetUser" asp-route-userName="@User.Identity.Name">мой профиль</a>
                            @if (User.IsInRole(UserRoleConstants.AdminRole) || User.IsInRole(UserRoleConstants.ModeratorRole))
                            {
                                <a class="dropdown-refs" asp-controller="Moderator" asp-action="GetAdminPanel">админ панель</a>
                            }
                            <form method="post" asp-controller="Auth" asp-action="Logout" asp-route-returnUrl="@returnUrl">
                                <input class="logout" type="submit" value="выйти" />
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    string returnUrl;
                    if (Context.Request.QueryString.HasValue)
                    {
                        returnUrl = Context.Request.Path + Context.Request.QueryString;
                    }
                    else
                    {
                        returnUrl = Context.Request.Path;
                    }

                    <ul class="first-profile-btns">
                        <li class="first-profile-btns">
                            <a class="first-profile-btns" asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@returnUrl">Войти</a>
                        </li>
                    </ul>
                }
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="header-items" asp-area="" asp-controller="Topic" asp-action="Topics" asp-route-pageNumber="1"
                           asp-route-pageSize="15">Темы</a>
                    </li>
                    <li class="nav-item">
                        <a class="header-items" asp-area="" asp-controller="Discussion"
                           asp-action="GetDiscussionsSortedByPopularityForToday" asp-route-pageNumber="1" asp-route-pageSize="20">Лучшее</a>
                    </li>
                    <li class="nav-item">
                        <a class="header-items" asp-area="" asp-controller="Discussion" asp-action="GetDiscussionsSortedByNovelty"
                           asp-route-pageNumber="1" asp-route-pageSize="20">Новые</a>
                    </li>
                </ul>
            </div>
            <div class="second-profile-btns">
                @if (User.Identity.IsAuthenticated)
                {
                    string returnUrl;
                    if (Context.Request.QueryString.HasValue)
                    {
                        returnUrl = Context.Request.Path + Context.Request.QueryString;
                    }
                    else
                    {
                        returnUrl = Context.Request.Path;
                    }

                    <div class="dropdown-profile">
                        <button id="secondDropdownProfileButton" class="open-profile-dropdown-btn">@User.Identity.Name &#x25BC;</button>
                        <div id="secondDropdownProfileList" class="dropdown-profile-list">
                            <a class="dropdown-refs" asp-controller="User" asp-action="GetUser" asp-route-userName="@User.Identity.Name">мой профиль</a>
                            @if (User.IsInRole(UserRoleConstants.AdminRole) || User.IsInRole(UserRoleConstants.ModeratorRole))
                            {
                                <a class="dropdown-refs" asp-controller="Moderator" asp-action="GetAdminPanel">админ панель</a>
                            }
                            <form method="post" asp-controller="Auth" asp-action="Logout" asp-route-returnUrl="@returnUrl">
                                <input class="logout" type="submit" value="выйти"/>
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    string returnUrl;
                    if (Context.Request.QueryString.HasValue)
                    {
                        returnUrl = Context.Request.Path + Context.Request.QueryString;
                    }
                    else
                    {
                        returnUrl = Context.Request.Path;
                    }

                    <ul class="navbar-nav flex-grow-1 second-profile-btns">
                        <li class="nav-item second-profile-btns">
                            <a class="second-profile-btns" asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@returnUrl">Войти</a>
                        </li>
                        <li class="nav-item second-profile-btns">
                            <a class="hide-if-navbar-toggler" asp-controller="Auth" asp-action="Register">Зарегистрироваться</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 Web.MVC <a class="privacy-link margin-left" asp-area="" asp-controller="Information" asp-action="Rules">Правила пользования</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/layout/dropdownProfile.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>