@{
    ViewData["Title"] = "Отстранить пользователя и удалить предложение";
}
@using Web.MVC.Constants
@model Web.MVC.DTOs.Moderator.BanUserDto

<h3>Отстранить пользователя</h3>
@if (ViewBag.IsUserBanned)
{
    <h5>Пользователь уже забанен до @ViewBag.BannedUntil по причине "@ViewBag.BanReason".</h5>
    <h5>Тип бана: @ViewBag.BanType</h5>
}
else
{
    <h5>Пользователь не в бане</h5>
}
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Reason"></label><br />
        <input asp-for="Reason" />
        <span asp-validation-for="Reason"></span>
    </div>
    <div>
        <label asp-for="ForDays"></label><br />
        <input asp-for="ForDays" />
        <span asp-validation-for="ForDays"></span>
    </div>
    <div>
        <p>Тип бана</p>
        <p>
            <input type="radio" value="@BanTypeConstants.GeneralBanType" name="banType" /> Общий
        </p>
        <p>
            <input type="radio" value="@BanTypeConstants.CommentBanType" name="banType" /> Комментарий
        </p>
        <p>
            <input type="radio" value="@BanTypeConstants.DiscussionBanType" name="banType" /> Обсуждение
        </p>
        <p>
            <input type="radio" value="@BanTypeConstants.ReportBanType" name="banType" /> Жалоба
        </p>
        <p>
            <input type="radio" value="@BanTypeConstants.TopicBanType" name="banType" /> Тема
        </p>
    </div>
    <input type="submit" value="отстранить" />
</form>