@{
    ViewData["Title"] = "Отстранить пользователя и удалить предложение";
}
@using Web.MVC.Constants
@model Web.MVC.DTOs.Moderator.BanUserDto
<link rel="stylesheet" href="~/css/ErrorMessageSpanValidation.css" />
<link rel="stylesheet" href="~/css/moderator/BanUser.css" />

<h3>Отстранить пользователя</h3>
@if (ViewBag.IsUserBanned)
{
    <h5 class="user-is-already-banned-red mb-0">Пользователь уже забанен до @ViewBag.BannedUntil по причине "@ViewBag.BanReason"</h5>
    <h5 class="user-is-already-banned-red mb-2">Тип бана: @ViewBag.BanType</h5>
}
else
{
    <h5>Пользователь не в бане</h5>
}
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <span class="validation-message" asp-validation-for="Reason"></span>
    <span class="validation-message" asp-validation-for="ForDays"></span>
    <div>
        <input class="ban-user-input" asp-for="Reason" placeholder="Причина" />
    </div>
    <div class="mb-2">
        <input class="ban-user-input" asp-for="ForDays" placeholder="Длительность в днях" />
    </div>
    <div>
        <p class="mb-1 highlited-ban-type">Тип бана</p>

        <p class="radio-ban-user-container">
            <input type="radio" value="@BanTypeConstants.GeneralBanType" name="banType" /> Общий
        </p>
        <p class="radio-ban-user-container">
            <input type="radio" value="@BanTypeConstants.CommentBanType" name="banType" /> Комментарий
        </p>
        <p class="radio-ban-user-container">
            <input type="radio" value="@BanTypeConstants.DiscussionBanType" name="banType" /> Обсуждение
        </p>
        <p class="radio-ban-user-container">
            <input type="radio" value="@BanTypeConstants.ReportBanType" name="banType" /> Жалоба
        </p>
        <p class="radio-ban-user-container">
            <input type="radio" value="@BanTypeConstants.TopicBanType" name="banType" /> Тема
        </p>
    </div>
    <input class="ban-user-submit" type="submit" value="Отстранить" />
</form>