@{
    ViewData["Title"] = "Предложенные темы";
}
@using Web.MVC.Constants
@model Web.MVC.Models.ViewModels.ModeratorViewModels.SuggestedTopicsByUserNameViewModel

<div class="text-center">
    <h3>Предложенные темы</h3>
    @if (Model.SuggestedTopics.Count != 0)
    {
        string returnUrl;
        if (Context.Request.QueryString.HasValue)
        {
            returnUrl = Context.Request.Path + Context.Request.QueryString;
        }
        else
        {
            returnUrl = Context.Request.Path;
        }
        <form method="post" asp-controller="Moderator" asp-action="DeleteSuggestedTopicsByUserName" asp-route-userName="@Model.SuggestedByUserName"
              asp-route-returnUrl="@returnUrl">
            <input type="submit" value="удалить все предложенные темы" />
        </form>
        <a asp-controller="Moderator" asp-action="BanUser" asp-route-userName="@Model.SuggestedByUserName"
           asp-route-returnUrl="@returnUrl">забанить пользователя</a>
    }
    
    <table>
        <tr><th>Название</th><th>Принять</th><th>Отклонить</th><th>Отстранить предлагающего</th></tr>
        @if (true)
        {
            string returnUrl;
            if (Context.Request.QueryString.HasValue)
            {
                returnUrl = Context.Request.Path + Context.Request.QueryString;
            }
            else
            {
                returnUrl = Context.Request.Path;
            }
            @foreach (var suggestedTopic in Model.SuggestedTopics)
            {
                <tr>
                    <td>@suggestedTopic.Name</td>
                    <td><form method="post" asp-action="AcceptSuggestedTopic" asp-controller="Moderator" asp-route-id=@suggestedTopic.Id asp-route-returnUrl="@returnUrl"><input type="submit" value="принять" /></form></td>
                    <td><form method="post" asp-controller="Moderator" asp-action="RejectSuggestedTopic" asp-route-id=@suggestedTopic.Id asp-route-returnUrl="@returnUrl"><input type="submit" value="отклонить" /></form></td>
                    <td><a asp-controller="Moderator" asp-action="BanUserAndDeleteSuggestion" asp-route-returnUrl="@returnUrl" asp-route-userName="@suggestedTopic.SuggestedBy" asp-route-suggestionDeleteId="@suggestedTopic.Id" asp-route-suggestionDeleteType="@BanTypeConstants.TopicBanType">остранить и отклонить предложение</a></td>
                </tr>
            }
        }
    </table>
</div>

@if (Model.PreviousPageNumber != 0)
{
    <a asp-controller="Moderator" asp-action="GetSuggestedTopicsByUserName" asp-route-pageNumber="@Model.PreviousPageNumber"
       asp-route-pageSize="@Model.PageSize" asp-route-userName="@Model.SuggestedByUserName">
        Назад
    </a>
}
@if (Model.DoesNextPageExist && Model.SuggestedTopics.Count != 0)
{
    <a asp-controller="Moderator" asp-action="GetSuggestedTopicsByUserName" asp-route-pageNumber="@Model.NextPageNumber"
       asp-route-pageSize="@Model.PageSize" asp-route-userName="@Model.SuggestedByUserName">
        Вперед
    </a>
}