@{
    ViewData["Title"] = "Предложенные комментарии";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Web.MVC.Constants
@model Web.MVC.Models.ViewModels.ModeratorViewModels.SuggestedCommentsViewModel

<div class="text-center">
    <h3>Предложенные комментарии</h3>
    @if (true)
    {
        string returnUrl;
        if (Context.Request.QueryString.HasValue)
        {
            returnUrl = Context.Request.Path + Context.Request.QueryString;
        }
        else
        {
            returnUrl = Context.Request.Path;
        }
        @foreach (var suggestedComment in Model.SuggestedComments)
        {
            <p>@suggestedComment.Content</p>
            <form method="post" asp-controller="Moderator" asp-action="AcceptSuggestedComment" asp-route-id="@suggestedComment.Id"
                asp-route-returnUrl="@returnUrl">
                <input type="submit" value="принять"/>
            </form>
            <form method="post" asp-controller="Moderator" asp-action="RejectSuggestedComment" asp-route-id="@suggestedComment.Id"
                asp-route-returnUrl="@returnUrl">
                <input type="submit" value="отклонить"/>
            </form>
            <a asp-controller="Moderator" asp-action="BanUserAndDeleteSuggestion"
             asp-route-returnUrl="@returnUrl" asp-route-userName="@suggestedComment.CreatedBy"
             asp-route-suggestionDeleteId="@suggestedComment.Id" asp-route-suggestionDeleteType="@BanTypeConstants.CommentBanType">
              остранить и отклонить предложение
            </a>
        }
    }
    
</div>

@if (Model.PreviousPageNumber != 0)
{
    <a asp-controller="Moderator" asp-action="SuggestedComments" asp-route-pageNumber="@Model.PreviousPageNumber" asp-route-pageSize="@Model.PageSize">
        Назад
    </a>
}
@if (Model.DoesNextPageExist && Model.SuggestedComments.Count != 0)
{
    <a asp-controller="Moderator" asp-action="SuggestedComments" asp-route-pageNumber="@Model.NextPageNumber" asp-route-pageSize="@Model.PageSize">
        Вперед
    </a>
}