@model Web.MVC.Models.ViewModels.UserViewModels.GetSuggestedDiscussionsViewModel

<div class="text-center">
    <h3>Предложенные обсуждения</h3>
    @foreach (var suggestedDiscussion in Model.SuggestedDiscussions)
    {
        string returnUrl;
        if (Context.Request.QueryString.HasValue)
        {
            returnUrl = Context.Request.Path + Context.Request.QueryString;
        }
        else
        {
            returnUrl = Context.Request.Path;
        }
        <a asp-controller="Moderator" asp-action="SuggestedDiscussion" asp-route-returnUrl="@returnUrl" asp-route-id="@suggestedDiscussion.Id">
            @suggestedDiscussion.Title
        </a><br/>
    }
</div>

@if (Model.PreviousPageNumber != 0)
{
    <a asp-controller="Moderator" asp-action="SuggestedDiscussions" asp-route-pageNumber="@Model.PreviousPageNumber" asp-route-pageSize="@Model.PageSize">
        Назад
    </a>
}
@if (Model.DoesNextPageExist && Model.SuggestedDiscussions.Count != 0)
{
    <a asp-controller="Moderator" asp-action="SuggestedDiscussions" asp-route-pageNumber="@Model.NextPageNumber" asp-route-pageSize="@Model.PageSize">
        Вперед
    </a>
}