@model List<Web.MVC.Models.ApiResponses.ApNetUserResponses.AspNetUserResponse>


<h3>Пользователи</h3>
@if (Model.Count == 0)
{
    <h5>Список пользователей пуст</h5>
}
else
{
    <table>
        <tr><th>Имя пользователя</th><th>Почта</th><th>Подтверждена почта</th><th>Назначить роль</th></tr>
        @foreach (var user in Model)
        {
            if (Context.Request.QueryString.HasValue)
            {
                var returnUrl = Context.Request.Path + Context.Request.QueryString;
                <tr><th><a asp-controller="User" asp-action="GetUser" asp-route-userName="@user.UserName">@user.UserName</a></th><th>@user.Email</th><th>@user.EmailConfirmed</th><th><a asp-action="ChangeUserRoles" asp-controller="Moderator" asp-route-returnUrl="@returnUrl" asp-route-aspNetUserId="@user.Id">назначить роль</a></th></tr>
            }
            else
            {
                <tr><th><a asp-controller="User" asp-action="GetUser" asp-route-userName="@user.UserName">@user.UserName</a></th><th>@user.Email</th><th>@user.EmailConfirmed</th><th><a asp-action="ChangeUserRoles" asp-controller="Moderator" asp-route-returnUrl="@Context.Request.Path" asp-route-aspNetUserId="@user.Id">назначить роль</a></th></tr>
            }
            
        }
    </table>
}


@if (ViewBag.PreviousPageNumber != 0 && Model.Count != 0)
{
    <a asp-controller="Moderator" asp-action="Users" asp-route-pageNumber="@ViewBag.PreviousPageNumber" asp-route-pageSize="@ViewBag.CurrentPageSize">
        &lt; Назад
    </a>
}
@if (ViewBag.DoesNextPageExist && Model.Count != 0)
{
    <a asp-controller="Moderator" asp-action="Users" asp-route-pageNumber="@ViewBag.NextPageNumber" asp-route-pageSize="@ViewBag.CurrentPageSize">
        Вперед &gt;
    </a>
}
    