@{
    ViewData["Title"] = "Список пользователей";
}
@model List<Web.MVC.Models.ApiResponses.ApNetUserResponses.AspNetUserResponse>
<link rel="stylesheet" href="~/css/NextPreviousPaginationBtns.css"/>
<link rel="stylesheet" href="~/css/SearchForm.css"/>
<link rel="stylesheet" href="~/css/moderator/Users.css"/>

<h3>Пользователи</h3>
<form method="get" class="search-form">
    <input class="search-input" name="searchingQuery" placeholder="Поиск..." />
    <input type="hidden" name="pageNumber" value="1" />
    <input type="hidden" name="pageSize" value="@ViewBag.CurrentPageSize" />
    <input class="search-submit" type="submit" value="Найти" />
</form>
@if (Model.Count != 0)
{
    <table>
        <tr><th>Имя пользователя</th><th>Почта</th><th>Подтверждена почта</th></tr>
        @foreach (var user in Model)
        {
            <tr><td><a class="get-user-link" asp-controller="User" asp-action="GetUser" asp-route-userName="@user.UserName">@user.UserName</a></td><td>@user.Email</td><td>@user.EmailConfirmed</td></tr>
        }
    </table>
}

<div class="pagination-link-container">
    @if (Model.Count != 0)
    {
        if (ViewBag.PreviousPageNumber != 0)
        {
            @if (ViewBag.SearchingQuery is null)
            {
                <a class="pagination-link-previous" asp-controller="Moderator" asp-action="Users" asp-route-pageNumber="@ViewBag.PreviousPageNumber"
                   asp-route-pageSize="@ViewBag.CurrentPageSize">
                    Назад
                </a>
            }
            else
            {
                <a class="pagination-link-previous" asp-controller="Moderator" asp-action="Users" asp-route-pageNumber="@ViewBag.PreviousPageNumber"
                   asp-route-pageSize="@ViewBag.CurrentPageSize" asp-route-searchingQuery="@ViewBag.SearchingQuery">
                    Назад
                </a>
            }
        }
        else
        {
            <a class="pagination-link-previous-doesnt-exist">Назад</a>
        }
    }
    @if (Model.Count != 0)
    {
        if (ViewBag.DoesNextPageExist)
        {
            @if (ViewBag.SearchingQuery is null)
            {
                <a class="pagination-link-next" asp-controller="Moderator" asp-action="Users" asp-route-pageNumber="@ViewBag.NextPageNumber"
                   asp-route-pageSize="@ViewBag.CurrentPageSize">
                    Вперед
                </a>
            }
            else
            {
                <a class="pagination-link-next" asp-controller="Moderator" asp-action="Users" asp-route-pageNumber="@ViewBag.NextPageNumber"
                   asp-route-pageSize="@ViewBag.CurrentPageSize" asp-route-searchingQuery="@ViewBag.SearchingQuery">
                    Вперед
                </a>
            }
        }
        else
        {
            <a class="pagination-link-next-doesnt-exist">Вперед</a>
        }
    }
</div>