@{
    ViewData["Title"] = @ViewBag.Title;
}
<link rel="stylesheet" href="~/css/discussion/Discussion.css"/>
@model Web.MVC.DTOs.Comment.SuggestCommentDto

<h4 class="title">@ViewBag.Title</h4>
<p>@ViewBag.Content</p>

<p>Создано: <a class="discussion-created-by" asp-controller="User" asp-action="GetUser" asp-route-userName="@ViewBag.CreatedBy">@ViewBag.CreatedBy</a></p>
<p>Дата создания: @ViewBag.CreatedAt</p>

<div class="discussion-additional-content">
    <div class="rating">
        @if (User.Identity.Name != ViewBag.CreatedBy)
        {
            string returnUrl;
            if (Context.Request.QueryString.HasValue)
            {
                returnUrl = Context.Request.Path + Context.Request.QueryString;
            }
            else
            {
                returnUrl = Context.Request.Path;
            }

            <p>Рейтинг:
                <form class="increase-rating-form" method="post" asp-action="IncreaseDiscussionRatingByOne" asp-controller="Discussion"
                      asp-route-returnUrl="@returnUrl"asp-route-discussionId="@ViewBag.DiscussionId">
                    <input class="increase-rating-input" type="submit" value="↑" />
                </form>
                <p class="discussion-rating">@ViewBag.Rating</p>
                <form method="post" asp-action="DecreaseDiscussionRatingByOne" asp-controller="Discussion" asp-route-returnUrl="@returnUrl"
                      asp-route-discussionId="@ViewBag.DiscussionId">
                <input class="decrease-rating-input" type="submit" value="↓" />
                </form>
            </p>
        }
        else
        {
            <p>Рейтинг: @ViewBag.Rating</p>
        }
    </div>
    <div class="other-additional">
        @if (User.Identity.Name != ViewBag.CreatedBy)
        {
            string returnUrl;
            if (Context.Request.QueryString.HasValue)
            {
                returnUrl = Context.Request.Path + Context.Request.QueryString;
            }
            else
            {
                returnUrl = Context.Request.Path;
            }

            <a asp-action="AddReport" asp-controller="Report" asp-route-reportedUserName="@ViewBag.CreatedBy" asp-route-reportedDiscussionTitle="@ViewBag.Title"
               asp-route-reportedDiscussionContent="@ViewBag.Content" asp-route-reportedDiscussionId="@ViewBag.DiscussionId">Пожаловаться</a>
            <form method="post" asp-controller="Bookmark" asp-action="AddBookmark" asp-route-returnUrl="@returnUrl" asp-route-discussionId="@ViewBag.DiscussionId"
                  asp-route-discussionTitle="@ViewBag.Title">
                <input class="add-bookmark" type="submit" value="Добавить в закладки" />
            </form>
        }
    </div>
</div>

<div>
    <form method="post" asp-controller="Discussion" asp-action="SuggestComment" asp-route-id="@ViewBag.DiscussionId">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Content"></label><br/>
            <input asp-for="Content"/>
            <span asp-validation-for="Content"></span>
        </div>
        <input type="submit" value="отправить"/>
    </form>
</div>
<div>
    @if (ViewBag.Comments is null || ViewBag.Comments.Count == 0)
    {
        <p>Ещё никто не оставил комментарий под этим обсуждением :(</p>
    }
    else
    {
        @foreach (var comment in ViewBag.Comments)
        {
            string returnUrl;
            if (Context.Request.QueryString.HasValue)
            {
                returnUrl = Context.Request.Path + Context.Request.QueryString;
            }
            else
            {
                returnUrl = Context.Request.Path;
            }
            <p>@comment.CreatedBy в @comment.CreatedDate</p>
            if (comment.RepliedOnCommentId is not null)
            {
                <p>@comment.RepliedOnCommentCreatedBy:</p>
                <p>"@comment.RepliedOnCommentContent"</p>
            }

            if (comment.RepliedOnCommentId is null && comment.RepliedOnCommentCreatedBy is not null)
            {
                <p>@comment.RepliedOnCommentCreatedBy:</p>
                <p>Комменарий был удален</p>
            }
            <p>@comment.Content</p>
            if (User.Identity.Name == comment.CreatedBy)
            {
                <form method="post" asp-controller="Comment" asp-action="DeleteComment" asp-route-returnUrl="@returnUrl" asp-route-id="@comment.Id">
                    <input type="submit" value="удалить"/>
                </form>
            }
            else
            {
                <form method="post" asp-controller="Discussion" asp-action="SuggestComment" asp-route-id="@ViewBag.DiscussionId"
                      asp-route-repliedOnCommentContent="@comment.Content" asp-route-repliedOnCommentId="@comment.Id"
                      asp-route-repliedOnCommentCreatedBy="@comment.CreatedBy">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div>
                        <input asp-for="Content" placeholder="Ответить">
                        <span asp-validation-for="Content"></span>
                    </div>
                    <input type="submit" value="отправить"/>
                </form>
                <a asp-action="AddReport" asp-controller="Report" asp-route-reportedUserName="@comment.CreatedBy"
                   asp-route-reportedCommentContent="@comment.Content" asp-route-reportedCommentId="@comment.Id">пожаловаться</a>
            }
        }
    }
</div>

@if (ViewBag.PreviousPageNumber != 0 && ViewBag.Comments.Count != 0)
{
    <a asp-controller="Discussion" asp-action="GetDiscussion" asp-route-pageNumber="@ViewBag.PreviousPageNumber" asp-route-pageSize="@ViewBag.PageSize"
       asp-route-id="@ViewBag.DiscussionId">
        Назад
    </a>
}
@if (ViewBag.DoesNextCommentsPageExist && ViewBag.Comments.Count != 0)
{
    <a asp-controller="Discussion" asp-action="GetDiscussion" asp-route-pageNumber="@ViewBag.NextPageNumber" asp-route-pageSize="@ViewBag.PageSize"
       asp-route-id="@ViewBag.DiscussionId">
        Вперед
    </a>
}