@model Web.MVC.Models.ApiResponses.DiscussionResponse

<div class="text-center">
    <h4>@Model.Title</h4>
    <p>Создано by: @Model.CreatedBy</p>
    <p>Дата создания: @Model.CreatedAt</p>
    <p>Рейтинг: @Model.Rating</p>
    <p>@Model.Content</p>
</div>