@model Web.MVC.DTOs.Comment.SuggestCommentDto

<div>
    <h4>@ViewBag.Title</h4>
    <p>Создано by: @ViewBag.CreatedBy</p>
    <p>Дата создания: @ViewBag.CreatedAt</p>
    <p>Рейтинг: @ViewBag.Rating</p>
    <p>@ViewBag.Content</p>
</div>
<div>
    <form method="post" asp-controller="Discussion" asp-action="SuggestComment" asp-route-id="@ViewBag.DiscussionId">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Content"></label><br/>
            <input asp-for="Content"/>
            <span asp-validation-for="Content"></span>
        </div>
        <input type="submit" value="отправить"/>
    </form>
</div>
<div>
    @foreach (var comment in ViewBag.Comments)
    {
        <p>@comment.CreatedBy в @comment.CreatedDate</p>
        <p>@comment.Content</p>
        if (User.Identity.Name == comment.CreatedBy)
        {
            <form method="post" asp-controller="Comment" asp-action="DeleteComment" asp-route-returnUrl="@Context.Request.Path" asp-route-id="@comment.Id">
                <input type="submit" value="удалить"/>
            </form>
        }
    }
</div>

