@{
    ViewData["Title"] = $"{Model.TopicName}";
}
@model DiscussionViewModel
<link rel="stylesheet" href="~/css/SearchForm.css"/>
<link rel="stylesheet" href="~/css/NextPreviousPaginationBtns.css" />
<link rel="stylesheet" href="~/css/discussion/discussionsList.css" />
<link rel="stylesheet" href="~/css/topic/TopicsDiscussionsList.css"/>
<link rel="stylesheet" href="~/css/discussion/DiscussionsPreview.css"/>

<div class="search-create">
    <form method="get" class="search-form">
        <input class="search-input" name="searchingQuery" placeholder="Поиск..." />
        <input type="hidden" name="pageSize" value="@ViewBag.PageSize" />
        <input type="hidden" name="pageNumber" value="1" />
        <input type="hidden" name="topicName" value="@Model.TopicName" />
        <input class="search-submit" type="submit" value="Найти"/>
    </form>
    <a class="create-discussion-link" asp-controller="Discussion" asp-action="SuggestDiscussion" asp-route-topicName="@Model.TopicName">
        + Создать обсуждение
    </a>
</div>

@foreach (var discussion in Model.Discussions)
{
    <div class="border-div">
        <a class="discussion-title" asp-controller="Discussion" asp-action="GetDiscussion" asp-route-id="@discussion.Id" asp-route-pageNumber="1"
           asp-route-pageSize="20">@discussion.Title
        </a>
        <p class="rating-value" data-value="@discussion.Rating">Рейтинг: @discussion.Rating</p>
        <p>Создано: @discussion.CreatedBy</p>
        <p>Дата создания: @discussion.CreatedAt</p>
    </div>
}

<div class="pagination-link-container">
    @if (Model.Discussions.Count != 0)
    {
        @if (ViewBag.PreviousPageNumber != 0)
        {
            @if (ViewBag.SearchingQuery is null)
            {
                <a class="pagination-link-previous" asp-controller="Topic" asp-action="Topic" asp-route-pageNumber="@ViewBag.PreviousPageNumber"
                   asp-route-pageSize="@ViewBag.PageSize"asp-route-topicName="@Model.TopicName">
                    Назад
                </a>
            }
            else
            {
                <a class="pagination-link-previous" asp-controller="Topic" asp-action="Topic" asp-route-pageNumber="@ViewBag.PreviousPageNumber"
                   asp-route-pageSize="@ViewBag.PageSize" asp-route-searchingQuery="@ViewBag.SearchingQuery" asp-route-topicName="@Model.TopicName">
                    Назад
                </a>
            }
        }
        else
        {
            <a class="pagination-link-previous-doesnt-exist">Назад</a>
        }
        @if (ViewBag.DoesNextPageExist)
        {
            @if (ViewBag.SearchingQuery is null)
            {
                <a class="pagination-link-next" asp-controller="Topic" asp-action="Topic" asp-route-pageNumber="@ViewBag.NextPageNumber"
                   asp-route-pageSize="@ViewBag.PageSize"asp-route-topicName="@Model.TopicName">
                    Вперед
                </a>
            }
            else
            {
                <a class="pagination-link-next" asp-controller="Topic" asp-action="Topic" asp-route-pageNumber="@ViewBag.NextPageNumber"
                   asp-route-pageSize="@ViewBag.PageSize" asp-route-searchingQuery="@ViewBag.SearchingQuery" asp-route-topicName="@Model.TopicName">
                    Вперед
                </a>
            }
        }
        else
        {
            <a class="pagination-link-next-doesnt-exist">Вперед</a>
        }
    }
</div>
<script src="~/js/discussion/RatingColorChanging.js"></script>