@{
    ViewData["Title"] = "История банов";
}
@model Web.MVC.Models.ViewModels.AdminViewModels.GetBansHistoryViewModel
<link rel="stylesheet" href="~/css/NextPreviousPaginationBtns.css"/>
<link rel="stylesheet" href="~/css/admin/GetBansHistory.css"/>
<link rel="stylesheet" href="~/css/SearchForm.css"/>

<form method="get" class="search-form">
    <input class="search-input" name="searchingQuery" placeholder="Поиск..." />
    <input name="pageSize" type="hidden" value="@Model.PageSize"/>
    <input name="pageNumber" type="hidden" value="1"/>
    <input class="search-submit" type="submit" value="Найти"/>
</form>
@if (Model.Bans.Count == 0)
{
    <h3>История банов пуста</h3>
}
else
{
    <table>            
        <tr><th>Имя пользователя</th><th>Причина</th><th>Тип бана</th><th>Кем забанен</th><th>Забанен с</th><th>Забанен до</th><th>Длительность бана (в днях)</th></tr>
        @foreach (var ban in Model.Bans)
        {
            <tr><td>@ban.UserName</td><td>@ban.Reason</td><td>@ban.BanType</td><td>@ban.BannedBy</td><td>@ban.BannedFrom</td><td>@ban.BannedUntil</td><td>@ban.DurationInDays</td></tr>
        }
    </table>
}
    

<div class="pagination-link-container">
    @if (Model.Bans.Count != 0)
    {
        if (Model.PreviousPageNumber != 0)
        {
            @if (Model.SearchingQuery is null)
            {
                <a class="pagination-link-previous" asp-controller="Admin" asp-action="GetBansHistory" asp-route-pageNumber="@Model.PreviousPageNumber"
                   asp-route-pageSize="@Model.PageSize">
                    Назад
                </a>
            }
            else
            {
                <a class="pagination-link-previous" asp-controller="Admin" asp-action="GetBansHistory" asp-route-pageNumber="@Model.PreviousPageNumber"
                   asp-route-pageSize="@Model.PageSize"asp-route-searchingQuery="@Model.SearchingQuery">
                    Назад
                </a>
            }
        }
        else
        {
            <a class="pagination-link-previous-doesnt-exist">Назад</a>
        }
    }
    @if (Model.Bans.Count != 0)
    {
        if (Model.DoesNextPageExist)
        {
            @if (Model.SearchingQuery is null)
            {
                <a class="pagination-link-next" asp-controller="Admin" asp-action="GetBansHistory" asp-route-pageNumber="@Model.NextPageNumber"
                   asp-route-pageSize="@Model.PageSize">
                    Вперед
                </a>
            }
            else
            {
                <a class="pagination-link-next" asp-controller="Admin" asp-action="GetBansHistory" asp-route-pageNumber="@Model.NextPageNumber" asp-route-pageSize="@Model.PageSize"
                   asp-route-searchingQuery="@Model.SearchingQuery">
                    Вперед
                </a>
            }
        }
        else
        {
            <a class="pagination-link-next-doesnt-exist">Вперед</a>
        }
    }
</div>