@{
    ViewData["Title"] = "Пожаловаться";
}
@model Web.MVC.DTOs.Report.CreateReportDto
<link rel="stylesheet" href="~/css/report/AddReport.css"/>
<link rel="stylesheet" href="~/css/ErrorMessageSpanValidation.css"/>

<div class="add-report-page-container">
    @if (Model.ReportedCommentContent is null)
    {
        <p class="mb-4"><strong>Сообщить о нарушении от пользователя @@@Model.ReportedUserName</strong></p>
        <p class="mb-2"><strong>Заголовок: </strong>@Model.ReportedDiscussionTitle</p>
        <p class="mb-3"><strong>Обсуждение: </strong>@Model.ReportedDiscussionContent</p>
    }
    else
    {
        <p class="mb-4"><strong>Сообщить о нарушении от пользователя @@@Model.ReportedUserName</strong></p>
        <p class="mb-3"><strong>Комментарий: </strong>@Model.ReportedCommentContent</p>
    }

    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <span class="validation-message" asp-validation-for="Reason"></span>
        
        <input asp-for="ReportedCommentContent" type="hidden" value="@Model.ReportedCommentContent" />
        <input asp-for="ReportedCommentId" type="hidden" value="@Model.ReportedCommentId" />
        <input asp-for="ReportedDiscussionContent" type="hidden" value="@Model.ReportedDiscussionContent" />
        <input asp-for="ReportedDiscussionId" type="hidden" value="@Model.ReportedDiscussionId" />
        <input asp-for="ReportedDiscussionTitle" type="hidden" value="@Model.ReportedDiscussionTitle" />
        <input asp-for="ReportedUserName" type="hidden" value="@Model.ReportedUserName" />
        <div>
            <textarea class="add-report-textarea" asp-for="Reason" placeholder="Причина" rows="1"></textarea>
        </div>
        <input class="add-report-submit" type="submit" value="Отправить"/>
    </form>
</div>
<script>
    const reportInput = document.querySelector('.add-report-textarea');

    reportInput.addEventListener('input', function () {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
    });
</script>