@using System.Web
@model GetReportsViewModel

<div class="text-center">
    <h3>Жалобы</h3>
    @if (Model.Reports.Count == 0)
    {
        <h5>Жалоб нет</h5>
    }
    else
    {
        <table>
            <tr><th>От пользователя</th><th>Причина</th><th>Тип</th></tr>
            @foreach (var report in Model.Reports)
            {
                if (report.ReportedCommentContent is null)
                {
                    <tr><td>@report.UserNameReportedBy</td><td>@report.Reason</td><td><a href="~/reports/@report.Id?returnUrl=@HttpUtility.UrlEncode(Context.Request.Path + Context.Request.QueryString)">обсуждение</a></td></tr>
                }
                else
                {
                    <tr><td>@report.UserNameReportedBy</td><td>@report.Reason</td><td><a href="~/reports/@report.Id?returnUrl=@HttpUtility.UrlEncode(Context.Request.Path + Context.Request.QueryString)">комментарий</a></td></tr>
                }
            }
        </table>
    }
</div>

@if (ViewBag.PreviousPageNumber != 0 && Model.Reports.Count != 0)
{
    <a asp-controller="Report" asp-action="Reports" asp-route-pageNumber="@Model.PreviousPageNumber" asp-route-pageSize="@Model.PageSize"
       asp-route-reportType="@Model.ReportType">
        Назад
    </a>
}
@if (ViewBag.DoesNextPageExist && Model.Reports.Count != 0)
{
    <a asp-controller="Report" asp-action="Reports" asp-route-pageNumber="@Model.NextPageNumber" asp-route-pageSize="@Model.PageSize"
       asp-route-reportType="@Model.ReportType">
        Вперед
    </a>
}
