@{
    ViewData["Title"] = "Жалобы";
}
@model GetReportsViewModel
<link rel="stylesheet" href="~/css/NextPreviousPaginationBtns.css" />
<link rel="stylesheet" href="~/css/moderator/GetReports.css" />

<div class="reports-page-container">
    @if (Model.Reports.Count != 0)
    {
        <h3>Жалобы</h3>
        string returnUrl;
        if (Context.Request.QueryString.HasValue)
        {
            returnUrl = Context.Request.Path + Context.Request.QueryString;
        }
        else
        {
            returnUrl = Context.Request.Path;
        }
        @foreach (var report in Model.Reports)
        {
            <div class="report-container">
                <p><strong>От пользователя: </strong><a asp-controller="User" asp-action="GetUser" asp-route-userName="@report.UserNameReportedBy">@report.UserNameReportedBy</a></p>
                <p><strong>Причина: </strong>@report.Reason</p>
                @if (report.ReportedCommentContent is null)
                {
                    <p>
                        <strong>Жалоба: </strong>
                        <a asp-controller="Report" asp-action="GetReport" asp-route-returnUrl="@returnUrl" asp-route-reportId="@report.Id">обсуждение</a>
                    </p>
                }
                else
                {
                    <p>
                        <strong>Жалоба: </strong>
                        <a asp-controller="Report" asp-action="GetReport" asp-route-returnUrl="@returnUrl" asp-route-reportId="@report.Id">комментарий</a>
                    </p>
                }
            </div>
        }
    }
    else
    {
        <h3>Жалоб нет</h3>
    }

    <div class="pagination-link-container">
        @if (Model.Reports.Count != 0)
        {
            if (Model.PreviousPageNumber != 0)
            {
                <a class="pagination-link-previous" asp-controller="Report" asp-action="Reports" asp-route-pageNumber="@Model.PreviousPageNumber"
                   asp-route-pageSize="@Model.PageSize" asp-route-reportType="@Model.ReportType">
                    Назад
                </a>
            }
            else
            {
                <a class="pagination-link-previous-doesnt-exist">Назад</a>
            }
        }
        @if (Model.Reports.Count != 0)
        {
            if (Model.DoesNextPageExist)
            {
                <a class="pagination-link-next" asp-controller="Report" asp-action="Reports" asp-route-pageNumber="@Model.NextPageNumber"
                   asp-route-pageSize="@Model.PageSize" asp-route-reportType="@Model.ReportType">
                    Вперед
                </a>
            }
            else
            {
                <a class="pagination-link-next-doesnt-exist">Вперед</a>
            }
        }
    </div>
</div>