@using System.Web
@model GetReportsViewModel

<div class="text-center">
    <h3>Жалобы</h3>
    @if (Model.Reports.Count == 0)
    {
        <h5>Жалоб нет</h5>
    }
    else
    {
        string returnUrl;
        if (Context.Request.QueryString.HasValue)
        {
            returnUrl = Context.Request.Path + Context.Request.QueryString;
        }
        else
        {
            returnUrl = Context.Request.Path;
        }
        <table>
            <tr><th>От пользователя</th><th>Причина</th><th>Тип</th></tr>
            @foreach (var report in Model.Reports)
            {
                if (report.ReportedCommentContent is null)
                {
                    <tr><td>@report.UserNameReportedBy</td><td>@report.Reason</td><td><a asp-controller="Report" asp-action="GetReport" asp-route-reportId="@report.Id" asp-route-returnUrl="@returnUrl">обсуждение</a></td></tr>
                }
                else
                {
                    <tr><td>@report.UserNameReportedBy</td><td>@report.Reason</td><td><a asp-controller="Report" asp-action="GetReport" asp-route-reportId="@report.Id" asp-route-returnUrl="@returnUrl">обсуждение</a></td></tr>
                }
            }
        </table>
    }
</div>

@if (Model.PreviousPageNumber != 0 && Model.Reports.Count != 0)
{
    <a asp-controller="Report" asp-action="Reports" asp-route-pageNumber="@Model.PreviousPageNumber" asp-route-pageSize="@Model.PageSize"
       asp-route-reportType="@Model.ReportType">
        Назад
    </a>
}
@if (Model.DoesNextPageExist && Model.Reports.Count != 0)
{
    <a asp-controller="Report" asp-action="Reports" asp-route-pageNumber="@Model.NextPageNumber" asp-route-pageSize="@Model.PageSize"
       asp-route-reportType="@Model.ReportType">
        Вперед
    </a>
}
